body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Lato", sans-serif;
}

a {
    color: #06c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #07e;
    text-decoration: underline;
}