body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Lato", sans-serif;
}

a {
    color: #06c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #07e;
    text-decoration: underline;
}

.layout-empty-center {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #2c8cec;
    overflow-y: auto;
}

.login {
    width: 90vw;
    max-width: 362px;
    text-align: center;
}

.login h1 {
    margin: 0 0 20px 0;
    padding: 0;
    color: #555;
    font-size: 22px;
}

.login-form {
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    background-color: #fff;
    margin: 20px 0 0 0;
}

.login-input {
    margin: 20px 0;
    text-align: left;
}

.login-input-label {
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin: 20px 0 10px 0;
    color: #2c8cec;
}

.login input[type="checkbox"] {
    float: right;
}

.login input[type="checkbox"] + label {
    font-size: 14px;
    font-weight: bold;
    color: #2c8cec;
}

.login-input input[type="text"],
.login-input input[type="password"] {
    display: block;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.2);
}

.login-button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #00bc4d;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

.login-button:disabled {
    background: #99BDAB;
    cursor: default;
}

.login-button:hover:not(:disabled) {
    box-shadow: 0 0 0 1000px rgba(0,0,0,.05) inset;
}

.login-footer {
    color: white;
    margin: 20px;
}

.login-footer-action {
    display: inline-block;
    font-size: 14px;
    color: #2c8cec;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    font-weight: bold;
    margin: 10px 0;
    padding: 8px 15px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 200ms;
}

.login-footer-action:hover {
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    text-decoration: none;
}

.login-error {
    color: #d00;
    font-weight: bold;
    font-size: 12px;
}

.login #captcha {
    margin-bottom: 20px;
}

.body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.header {
    height: 50px;
    background: #2c8cec;
}

.content {
    flex: 1 1 auto;
    padding: 20px;
    overflow-y: scroll;
}

.header-item {
    display: inline-block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.list-item:first-child {
    border-top: 1px solid #ddd;
}