<!DOCTYPE html>
<html>
	<head>
		<title>Bugcache</title>
	</head>
	<body>
		<a href="/recent">Recent bugs</a>
		<a href="/edit/{{data.id}}">Edit this bug</a>
		<h2>#{{data.id}} &mdash; {{data.title}}</h2>
		<div>Submitter: {{submittername}}</div>
		{{#data.attributes}}
			<div>{{name}}: {{value.0}}</div>
		{{/data.attributes}}
		{{data.data}}
	</body>
</html>