{{%BLOCKS}}
{{<layout/main}}
    {{$content}}
        <div class="content-block">
            <h2>#{{data.id}} &mdash; {{data.title}}</h2>
            <a href="/{{data.id}}/edit">Edit this bug</a>

            <div>Submitter: {{data.submittername}}</div>
            {{#data.attributes}}
                <div>{{name}}: <ul>{{#value}}<li>{{value}}</li>{{/value}}</ul></div>
            {{/data.attributes}}

            <hr/>

            {{data.data}}
        </div>
    {{/content}}
{{/layout/main}}