{{%BLOCKS}}
{{<layout/main}}
    {{$content}}
        <ul class="list">
            <li class="list-item">
                <a href="/recent">List recent bugs</a>
            </li>

            <li class="list-item">
                <a href="/new">Report new bug</a>
            </li>
        </ul>
    {{/content}}
{{/layout/main}}