{{%BLOCKS}}
{{<layout/main}}
    {{$content}}
        <ul class="list">
            {{#data.data}}
                <li class="list-item">
                    <a href="/{{id}}">#{{id}} &ndash; {{title}}</a>
                </li>
            {{/data.data}}
            {{^data.data}}
                <li class="list-empty">
                    No bugs there...
                </li>
            {{/data.data}}
        </ul>
    {{/content}}
{{/layout/main}}