<!DOCTYPE html>
<html>
	<head>
		<title>Bugcache</title>
	</head>
	<body>
		{{#data.data}}
			<a href="/{{id}}">#{{id}} &mdash; {{title}}</a><br>
		{{/data.data}}
		{{^data.data}}
			No bugs there...
		{{/data.data}}
	</body>
</html>