{{%BLOCKS}}
{{<layout/prompt}}
    {{$title}}
        Log In
    {{/title}}

    {{$header}}
        <h1>Log In</h1>
    {{/header}}

    {{$content}}
        <form action="/login" method="POST">
            {{#data.error}}
                <div class="prompt-error">
                    {{data.error}}
                </div>
            {{/data.error}}

            <div class="prompt-input">
                <label class="prompt-input-label" for="prompt-username">Username</label>
                <input tabindex="1" id="prompt-username" type="text" name="username" placeholder="awesome" spellcheck="false" value="{{data.username}}" {{^data.focusPassword}}autofocus{{/data.focusPassword}}>
            </div>

            {{#data.selectUsername}}
                <script>
                    var input = document.getElementById("login-username");
                    input.select();
                    input.focus();
                </script>
            {{/data.selectUsername}}

            <div class="prompt-input">
                <label class="prompt-input-label" for="prompt-password">Password</label>
                <input tabindex="2" id="prompt-password" type="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" {{#data.focusPassword}}autofocus{{/data.focusPassword}}>
            </div>

            <div class="prompt-input">
                <input tabindex="3" id="prompt-remember" type="checkbox" name="remember" value="yes">
                <label for="prompt-remember">Remember Me</label>
            </div>

            <div class="prompt-submit">
                <button tabindex="4" type="submit" class="prompt-button">
                    Login
                </button>
            </div>
        </form>
    {{/content}}

    {{$footer}}
        Don't have an account yet? <br/>
        <a href="/register" class="prompt-footer-action">
            Sign Up
        </a>
    {{/footer}}
{{/layout/prompt}}