{{%BLOCKS}}
{{<layout/prompt}}
    {{$title}}
        Confirm you're a human
    {{/title}}

    {{$header}}
        <h1>Confirm you're a human</h1>
    {{/header}}

    {{$content}}
        <form action="{{data.action}}" method="POST">
            {{#data.error}}
                <div class="prompt-error">
                    {{data.error}}
                </div>
            {{/data.error}}

            {{#data.inputs}}
                <input type="hidden" name="{{name}}" value="{{value}}">
            {{/data.inputs}}

            <div id="captcha"></div>

            <script type="text/javascript">
                var recaptcha = function () {
                    grecaptcha.render("captcha", {
                        sitekey: "{{recaptcha.key}}",
                        theme: "light",
                        callback: function () {
                            var button = document.getElementById("captcha-continue");
                            button.disabled = false;
                        }
                    });
                };
            </script>

            <script src="https://www.google.com/recaptcha/api.js?onload=recaptcha&render=explicit" async defer></script>

            <div class="prompt-submit">
                <button type="submit" id="captcha-continue" class="prompt-button" disabled>
                    Continue
                </button>
            </div>
        </form>
    {{/content}}

    {{$footer}}
        Please solve the captcha to continue.
    {{/footer}}
{{/layout/prompt}}