{{%BLOCKS}}
{{<layout/prompt}}
    {{$title}}
        Sign Up
    {{/title}}

    {{$header}}
        <h1>Sign Up</h1>
    {{/header}}

    {{$content}}
        <form action="/register" method="POST">
            {{#data.error}}
                <div class="login-error">
                    {{data.error}}
                </div>
            {{/data.error}}

            <div class="prompt-input">
                <label class="prompt-input-label" for="prompt-username">Username</label>
                <input id="prompt-username" type="text" name="username" value="{{data.username}}" {{^data.focusPassword}}autofocus{{/data.focusPassword}}>
            </div>

            {{#data.selectUsername}}
                <script>
                    var input = document.getElementById("login-username");
                    input.select();
                    input.focus();
                </script>
            {{/data.selectUsername}}

            <div class="prompt-input">
                <label class="prompt-input-label" for="prompt-password">Password</label>
                <input id="prompt-password" type="password" name="password" {{#data.focusPassword}}autofocus{{/data.focusPassword}}>
            </div>

            <div class="prompt-input">
                <label class="prompt-input-label" for="prompt-password-repeat">Repeat Password</label>
                <input id="prompt-password-repeat" type="password" name="password-repeat">
            </div>

            <div class="prompt-submit">
                <button type="submit" class="prompt-button">
                    Sign Up
                </button>
            </div>
        </form>
    {{/content}}

    {{$footer}}
        Already have an account? <br/>
        <a href="/login" class="prompt-footer-action">
            Log In
        </a>
    {{/footer}}
{{/layout/prompt}}