<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/screen.css" media="screen">
</head>
<body>
<div class="layout-empty-center">
    <div class="login">
        <form class="login-form" action="/register" method="POST">
            <h1>Sign Up</h1>

            {{#error}}
                <div class="login-error">
                    {{error}}
                </div>
            {{/error}}

            <div class="login-input">
                <label class="login-input-label" for="login-username">Username</label>
                <input id="login-username" type="text" name="username" value="{{username}}" {{^focusPassword}}autofocus{{/focusPassword}}>
            </div>

            {{#selectUsername}}
                <script>
                    var input = document.getElementById("login-username");
                    input.select();
                    input.focus();
                </script>
            {{/selectUsername}}

            <div class="login-input">
                <label class="login-input-label" for="login-password">Password</label>
                <input id="login-password" type="password" name="password" {{#focusPassword}}autofocus{{/focusPassword}}>
            </div>

            <div class="login-input">
                <label class="login-input-label" for="login-password-repeat">Repeat Password</label>
                <input id="login-password-repeat" type="password" name="password-repeat">
            </div>

            {{> recaptcha}}

            <div class="login-submit">
                <button type="submit" class="login-button">
                    Sign Up
                </button>
            </div>
        </form>

        <div class="login-footer">
            Already have an account?
            <br>
            <a href="/login" class="login-footer-action">
                Log In
            </a>
        </div>
    </div>
</div>
</body>
</html>