{{%BLOCKS}}
{{<layout/prompt}}
    {{$title}}
        Confirm password
    {{/title}}

    {{$header}}
        <h1>Confirm password to continue</h1>
    {{/header}}

    {{$content}}
        <form action="{{data.action}}" method="POST">
            {{#data.error}}
                <div class="prompt-error">
                    {{data.error}}
                </div>
            {{/data.error}}

            {{#data.inputs}}
                <input type="hidden" name="{{name}}" value="{{value}}">
            {{/data.inputs}}

            <div class="prompt-input">
                <label class="prompt-input-label" for="prompt-password">Password</label>
                <input id="prompt-password" type="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" autofocus>
            </div>

            <div class="prompt-submit">
                <button type="submit" id="captcha-continue" class="prompt-button">
                    Continue
                </button>
            </div>
        </form>
    {{/content}}

    {{$footer}}
        You are entering <code>sudo</code> mode.
    {{/footer}}
{{/layout/prompt}}